RewriteEngine On
Options +FollowSymlinks

#                           Partie FRONTEND

#Accueil

RewriteRule ^accueil/$ index.php?action=home
#faire une redirection de rien a l'accueil
RewriteRule ^
#Programmes

RewriteRule ^section/$ index.php?action=section
RewriteRule ^section/([0-9]+)$ index.php?action=list&id=$1
RewriteRule ^programme/([0-9]+)-([0-9]+)$ index.php?action=program&id=$1&section=$2

#commentaires 

RewriteRule ^ajouterCommentaire/([0-9]+)-([0-9]+)$ index.php?action=addCommentP&id=$1&idsection=$2
RewriteRule ^supprimerCommentaire/([0-9]+)$ index.php?action=deleteCommentP&id=$1
RewriteRule ^editerCommentaire/([0-9]+)$ index.php?action=editCommentP&id=$1
RewriteRule ^signalerCommentaire/([0-9]+)$ index.php?action=report&id=$1

#Map

RewriteRule ^carte/$ index.php?action=map
RewriteRule ^ajouterSpot/$ index.php?action=addArea
RewriteRule ^spot/([0-9]+)$ index.php?action=area&id=$1

#notes

RewriteRule ^ajouterNote/([0-9]+)$ index.php?action=addNote&id=$1
RewriteRule ^supprimerNote/([0-9]+)$ index.php?action=deleteNote&id=$1


#feedInstagram

RewriteRule ^rejoins-nous/$ index.php?action=feedInsta
#Espace utilisateur

RewriteRule ^register/$ index.php?action=register
RewriteRule ^login/$ index.php?action=login
RewriteRule ^logincheck/$ index.php?action=logincheck
RewriteRule ^profil/([0-9]+)$ index.php?action=userProfil&id=$1
RewriteRule ^profil/([0-9]+)-edit$ index.php?action=editProfil&id=$1
RewriteRule ^editAvatar/$ index.php?action=editAvatar
RewriteRule ^editPw/$ index.php?action=editPw
RewriteRule ^editInsta/$ index.php?action=editInsta
RewriteRule ^editMail/$ index.php?action=editMail
RewriteRule ^editCity/$ index.php?action=editCity
RewriteRule ^deconnexion/$ index.php?action=logout


RedirectPermanent ^$  /accueil/




#                           Partie BACKEND

RewriteRule ^admin/$ index.php?action=admin

#utilisateurs

RewriteRule ^adminUser/$ index.php?action=adminUser
RewriteRule ^donnerDroits/([0-9]+)$ index.php?action=givePower&id=$1
RewriteRule ^enleverDroits/([0-9]+)$ index.php?action=remainPower&id=$1
RewriteRule ^supprimerUtilisateur/([0-9]+)$ index.php?action=deleteUser&id=$1

#sections

RewriteRule ^adminSection/$ index.php?action=adminSection
RewriteRule ^ajouterSection/$ index.php?action=addSection
RewriteRule ^modifierSection/([0-9]+)$ index.php?action=editSection&id=$1
RewriteRule ^supprimerSection/([0-9]+)$ index.php?action=deleteSection&id=$1


#programmes

RewriteRule ^adminProgram/$ index.php?action=adminProgram
RewriteRule ^ajouterProgramme/$ index.php?action=addProgram
RewriteRule ^modifierProgramme/([0-9]+)$ index.php?action=editProgram&id=$1
RewriteRule ^supprimerProgramme/([0-9]+)$ index.php?action=deleteProgram&id=$1

#commentaires

RewriteRule ^adminComment/$ index.php?action=adminComment
RewriteRule ^adminReportedComment/$ index.php?action=adminReportComment
RewriteRule ^validateComment/([0-9]+)$ index.php?action=validateComment&id=$1
RewriteRule ^deleteAdminComment/([0-9]+)$ index.php?action=deleteComment&id=$1

#spot

RewriteRule ^adminSpot/$ index.php?action=adminSpot
RewriteRule ^modifierSpot/([0-9]+)$ index.php?action=editSpot&id=$1
RewriteRule ^supprimerSpot/([0-9]+)$ index.php?action=deleteSpot&id=$1

#avis

RewriteRule ^adminNotes/$ index.php?action=adminNotes
RewriteRule ^supprimerAvis/([0-9]+)$ index.php?action=deleteNotes&id=$1


