
.logo img
{
	display: flex;
    height: 54px;
}
.menu
{
	justify-content: space-around;
}
.menu a,.login a
{
	padding-right: 5%;
	text-decoration: none;
    color: black;
    font-family: arial;
}
.menu a:hover, .login a:hover
{
	color: grey;
	text-decoration: none;
}
.avatarMenu
{
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.login
{
	text-align: right;
} 
.login a i
{
	border-radius: 50%;
	padding: 5%;
	background: black;
	color: white;
	font-size: 1.2em;
	border:1px solid black;
}
/* -------------------------- BODY -------------------------*/
body
{
	background: url('../images/light_toast.png');
	font-family: arial;
}
#sessionStorage
{
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	color: white;
	vertical-align: center;
	border: 1px solid lightblue;
	padding-top: 10px;
	z-index:50000;
	font-style: italic;
}
.red
{
	background: red;
}
.green
{
	background: seagreen;
}
#sessionStorage button
{
	border : 0px;	
	font-size: 1.2em;
}
.row
{
	margin-left: 0px;
	margin-right: 0px;
}

/* -------------------------- FOOTER -------------------------*/
footer
{
	text-align: center;
	border-top: 1px solid black;
	background: grey;
	position: relative;
	bottom: -20px;
	width: 100%;
	margin-top: 10%;
}
footer  .socialNetwork i
{
	font-size: 1.8em;
}
footer a
{
	color: black;
	font-size: 0.8em;
}
footer a:hover
{
	color: white;
	text-decoration: none;
}
.facebook
{
	color: #3b5998;
}
.twitter
{
	color: #00acee;
}
.instagram
{
	color: #E1306C;
}

/* -------------------------- LIST SECTIONS AND PROGRAMS -------------------------*/
.mainTitleSection
{
	margin: 50px 0 50px 0;
	padding : 20px 0 20px 0;
	text-align: center;
	font-family: 'Mansalva', cursive;
}

.imgSection,.imgProgram
{
	background: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 20px 0 0 0;
}
.imgSection img,.imgProgram img
{
	width: 100%;
	height: 150px;
}
.titleSection,.titleProgram
{
	padding : 5px 0 5px 0;
	font-family: 'Mansalva', cursive;
}
			
.extractSection,.extractProgram
{
	font-size : 0.8em;
}
.btnSection,.linkPgm
{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.blockSection,.blockProgram
{
	padding: 10px 0 10px 0;
	height: 350px;
	border: 3px lightgrey outset;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.whiteBg
{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: white;
}
.section1,.program1
{
	background: #006699;
}
.section2,.program2
{
	background: #0099cc;
}
.section3,.program3
{
	background: #0066cc;
}
.section4,.program4
{
	background: #0033cc;
}
.section5,.program5
{
	background: #009999;
}
.section6,.program6
{
	background: #33cccc;
}
.section7,.program7
{
	background: #00ccff;
}
.section8,.program8
{
	background: #0099ff;
}
.section9,.program9
{
	background: #0066ff;
}
.section10,.program10
{
	background: #3366ff;
}
.section11,.program11
{
	background: #3333cc;
}
.section12,.program12
{
	background: #00cc99;
}
.section13,.program13
{
	background: #00ffcc;
}
.section14,.program14
{
	background: #00ffcc;
}
.section15,.program15
{
	background: #3399ff;
}
.section16,.program16
{
	background: #6699ff;
}
.section17,.program17
{
	background: #6666ff;
}
.section18,.program18
{
	background: #6600ff;
}
.section19,.program19
{
	background: #00ff99;
}
.section20,.program20
{
	background: #66ffcc;
}

/* -------------------------- List Programs -------------------------*/

.cadreTitle
{
	margin : 20px 0 0 0;
	border-top-right-radius : 20px;
	border-top-left-radius : 20px;
	background: lightblue;
}
.backSection a , .backListProgram a
{
	margin-top: 5px;
	border-radius: 20px;
	color : lightblue;
}
.titreSection, .titreProgram
{
	text-align: center;
	font-style: italic;
	color: whitesmoke;
	padding-bottom: 10px;
	font-family: 'Mansalva', cursive;

}
.accessCategory
{
	text-align: left;
	font-style: italic;
	color: whitesmoke;
	font-weight: 900;
	font-size: 0.8em;		
}
.accessCategory a
{
	text-decoration: none;
	color: grey;
}
.accessCategory a:hover
{
	text-decoration: none;
	color: whitesmoke;
}
.content,.contentSection
{
	padding: 30px 0 30px 0;
	background: aliceblue;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border: 3px outset whitesmoke;
}

/* -------------------------- Program -------------------------*/

.contentProgram
{
	padding: 20px 0 20px 0;
}
.contentProgram h4
{
	font-family: 'Mansalva', cursive;
	text-decoration: underline;
	font-style: italic;
	padding-bottom: 10px;
}

#asideProgram
{
	border:3px inset white;
	border-radius: 20px;
	background:cadetblue;
	color: white;
	padding: 10px;
	position: sticky;
	top: 200px;

}
#asideProgram a
{
	text-decoration: none;
	color: white;

}
#asideProgram h6
{
	text-align: center;
	font-weight: 700;
	font-style: italic;
	color: whitesmoke;
}
.formComment
{
	background: aliceblue;
	border-radius: 20px;
	border: 1px outset white;
	margin: 10px 0 10px 0;
	padding: 25px 0 25px 0;
	text-align: center;
}
#formComment
{
	display: none;
}
.noLogin
{
	color: #c40404;
}
.cadreComment,.cadreNote
{
	background: whitesmoke;
	border-radius: 20px;
	padding: 0 0 10px 0;
}
.titleComment,.titleNote
{
	text-align: center;
	font-family: 'Mansalva', cursive;
	padding: 15px 0 15px 0;
}
.headerComment,.headerNote
{
	background: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 1px dashed lightgrey;
	height: 40px;
	padding: 5px 0 5px 0;

}
.pseudoComment a,.pseudoNote a
{
	text-decoration: none;
	color: darkslategrey;
	font-weight: 600;
}
.pseudoComment a:hover,.pseudoNote a:hover
{
	text-decoration: none;
	color: black;
}
.dateComment,.dateNote
{
	font-size: 0.6em;
	padding: 5px 0 0 0;
}
.btnComment a,.btnNote a
{
	font-size: 0.6em;
}
.contentComment, .contentNote
{
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border:2px solid silver;
	padding: 5px 0 5px 0;
	margin-bottom: 20px;
}
/* -------------------------- Login -------------------------*/

.cadreLogin
{
	border:1px outset white;
	border-radius: 20px;
	background: whitesmoke;
	padding: 75px;
	margin: 100px 0 50px 0;
	text-align: center;
}
.cadreLogin form
{
	margin: 20px 0 20px 0;
}

.cadreLogin p
{
	font-size: 0.8em;
}

/* -------------------------- UserProfil -------------------------*/

.userProfilHeader
{
	background: darkslategrey;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 10px 0 30px 0;
	margin-top: 50px;
}

.userProfilHeader h3
{
	text-align: center;
	color: whitesmoke;
	font-style: italic;
}

.userProfil
{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background : ghostwhite;
	padding: 30px 0 30px 0;
}

.profilAvatar
{
	text-align: center;
}

.userProfil img
{
	border-radius: 20px;
	width: 150px;
	height: 150px;
	border: 2px outset darkslategrey;
}

.contentProfil
{
	border: 2px outset darkslategrey;
	border-radius: 20px;
	background: whitesmoke;
	padding: 20px 0 20px 0;

}
.contentProfil h4
{
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Mansalva', cursive;
}

.contentProfil p
{
	padding: 5px 0 5px 0;
	text-align: center;	
}

.infoProfil
{
	font-style: italic;
}

.commentUserProfil
{
	border-radius: 20px;
	border: 2px outset darkslategrey;
	background: whitesmoke;
	padding: 10px;
	margin : 50px 0 50px 0;
}
.headerCommentUserProfil
{
	text-align: center;
	font-style: italic;
	border-bottom: 1px solid darkslategrey;
}
.contentCommentUserProfil
{
	padding: 20px 0 20px 0;
}
.lastCommentProfil
{
	border-bottom: 1px dashed lightgrey;
	padding-bottom : 5px;
}
.contentCommentUserProfil a
{
	text-decoration: none;
	color: darkslategrey;
}

.contentCommentUserProfil a:hover
{
	text-decoration: none;
	color: black;
}

/* -------------------------- EditUserProfil -------------------------*/

.editUser
{
	border-radius: 20px;
	background:lightgrey;
	padding: 20px 0px 60px 0;
	margin-top: 50px;
}
.editUser .backProfile
{
	text-decoration: none;
	color: whitesmoke;
	background: cadetblue;
	border-radius: 20px;
	padding: 5px;
}
.editUser h3
{
	text-align: center;
	padding: 10px 0 50px 0;
	font-family: 'Mansalva', cursive;
}
.editUser img
{
	width: 150px;
	height: 150px;
	border: 2px ridge lightgrey;
	border-radius: 20px;
}

#editAvatar
{
	margin-bottom: 30px;
}

.editUser button,.editUser a
{
	margin-top : 10px;
	margin-bottom: 10px;
}


#editPassword,#editInsta,#editMail,#editCity
{
	display: none;
	border-radius: 20px;
	background: darkgrey;
	color: black;
	margin: 10px 0 10px 0;
}

/* -------------------------- Map -------------------------*/

#map
{
	margin-top: 50px;
	width: 100%;
	height: 600px;
	border: 3px dashed lightgray;
	border-radius: 20px;
}
#formMap
{
	position: absolute;
	z-index: 1999;
	top: 17.8%;
	left: 17.0%;
	width: 34%;
}
.formMap
{
	
	border-radius: 20px;
	text-align: center;
}
.formMap label
{
	font-family: arial black;
	font-style: italic;
}
.formMap input
{
	width: 85%;
	margin-left: 10px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.formMap button
{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#areaAddBtn
{
	position: absolute;
	bottom: 2px;
	left: 0px;
	z-index: 1999;
	padding: 7px;
	background: whitesmoke;
	color: darkslategrey;
	border:1px solid #00aaaa;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	font-family: arial;
}

#areaInfo
{
	display: none;
}

/* -------------------------- formAddArea -------------------------*/
#formAdd,#areaView
{
	background:
	white;
	padding: 10px 0 50px 0;
	margin-top: 50px;
	border-radius: 20px;
	border : 2px solid lightgrey;
}

#hArea
{
	text-align: center;
	font-family: arial;
	padding: 0px 0 20px 0;
}
#mymap
{
	height: 300px;
	width: 100%;
	margin-bottom: 30px;
	border : 1px dashed lightgrey;
	border-radius: 20px;
}

.formAddV
{
	border: 2px outset
	lightgray;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
}

/* -------------------------- areaView -------------------------*/
.buttonBack form
{
	padding-left: 15px;
}
.categoryArea
{
	font-style: italic;
	text-align: right;
}
.categoryArea p
{
	padding-right: 15px;
}
#textArea
{
	padding: 20px 0 20px 0;
}

#textArea h6
{
	text-decoration: underline;
	font-size: 1.1em;
}
.starSpot
{
	height: 27px;
    width: 140px;
    position: relative;
    content: '';
    padding: 0;
    margin-bottom: 40px;
}
#contentArea
{
	background: whitesmoke;
	padding: 10px;
	border: 1px solid
	lightgray;
	border-radius: 20px;
	margin-top: 10px;
}
.star
{
    height: 15px;
    width: 70px;
    margin: 6px 5px 0 10px;
    position: relative;
    content: '';
    padding: 0;
}    
.star::after,.starSpot::after
{
	width: 100%;
	background: url(../images/note/starNote.png) no-repeat center center;
    background-size: auto;
	background-size: 100% auto;
	content: '';
	z-index: 4;
	display: inline-block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.starNote
{
	background-color: rgba(255,255,51,0.8);
	height: 100%;
    z-index: 2;
}

/* -------------------------- Home -------------------------*/

#oneHome
{
	background: no-repeat right/100% url('../images/bgHome.png');
	height: 500px;
	border : 3px lightgrey outset;
	position: relative;

}
#oneHome h3
{
	margin-top: 50px;
	text-align: center;
	font-weight: 900;
	font-family: 'Mansalva', cursive;
	font-style: italic;
}
#oneHome #formMapHome
{
	position: absolute;
	bottom: 100px;
	background: url('../images/light_toast.png');
	border: 3px outset lightgray;
}
#oneHome #formMapHome label
{
	padding: 10px 0 10px 0;
}
.homeSection,.homeJoin
{
	border: 1px solid black;
	border-radius: 20px;
	color: white;
	margin-top: 50px;
	height: 450px;
}
.homeSection h5 ,.homeJoin h5
{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Impact';

}
.homeSection p ,.homeJoin p
{
	font-family: 'Arial-Black';
}
.homeSection a ,.homeJoin a
{
	position: absolute;
	bottom: 5px;
}
.homeSection
{
	background: #6E7401;
}
.homeJoin
{
	background: #9800fa;
}
.pictJoin,.pictSection
{
	height: 200px;
	width: 100%;
	border-bottom: 1px black solid;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 200px;
	margin-left: -6px;
}
.pictJoin
{
	background: white no-repeat top/70% url(../images/bgJoin.png);
}
.pictSection
{
	background: no-repeat left/100% url(../images/bgSection.jpg);
}